*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Name Title */
.name-container{
  background-color:  rgba(0,139, 139,0.8);
  padding: 10px 15px;
  display: flex;
}

.name{
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, 
  ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
}

/* Menu Styles */
.menu-container{
  color: #fff;
  background-color: #5995DA;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu{
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links{
  border: 1px solid #fff;
  display: flex;
  justify-content: flex-end;
}

.mainpage{
  margin-left: 20px;
}

/* Header Styles */
.header-container{
  color: #5995DA;
  background: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header{
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github,
.project{
  align-self: flex-end;
  margin-bottom: 20px;
}

/* images and button position */
.photo-grid-container{
  display: flex;
  justify-content: center;
  align-items: center;  
  height: auto;
}

/* button style    */
.carousel {
  overflow: hidden;
  max-width: 600px;
  position: relative;
}

/*put the images to on one position*/
.carousel .carousel_item,
.carousel .carousel_item--hidden {
  display: none;
}

/* image size    */
.carousel .carousel_item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/*let the images visible*/
.carousel .carousel_item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

/* button positon    */
.carousel .carousel_actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel_actions button {
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

button:hover {
  background-color: orange;
}

a {
  text-decoration: none;
  padding: 2px;
}

a:hover {
  background-color:rgba(0,139, 139, 1);
  display: inline-block;
  border-radius: 2px;
}

.carousel .carousel_actions button#carousel_button--prev {
  margin-left: 20px;
}
  
.carousel .carousel_actions button#carousel_button--next {
  margin-right: 20px;
}
  
@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

/* button style
    #carousel_button--prev{
        background-color: #5995DA;
        overflow: hidden;  
        position: relative;
}

    #carousel_button--next{
        background-color: #5995DA;
        overflow: hidden;
        position: relative;
}*/

/* Footer Set */
.footer{
  display: flex;
  justify-content: space-between;
}

.footer-item{
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-two{
  flex: 2;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, 
  ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
}

.footer-one,
.footer-three{
  background-color: #5995DA;
  flex: initial;
  width: 300px;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, 
  ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
}

/* data page style */
.wrapper {
  display:flex;
  flex-direction: column;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  margin:10px;
}

.title{
  display: inline-block;
  background-color: #5995DA;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0;
  margin-bottom: 5px;
}

nav {
  background-color: #5995DA;
  background: #D6E9FE;
  display: flex;
  flex-flow: row wrap;
  border-radius: 4px;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 15px;
}

nav a {
  color: rgba(0,139, 139, 1);
} 